@model IEnumerable<TicketSystem.Web.Models.Ticket.DisplayTicketViewModel>

@{
    ViewData["Title"] = "Ticket List";
}

<h1>Tickets</h1>

<div class="d-flex justify-content-between">
    <a asp-controller="Home" asp-action="LoginOnly" class="btn btn-secondary">Back</a>
    <a asp-action="Create" class="btn btn-success"> + New Ticket</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedBy)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosedAt)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
