@model IEnumerable<TicketSystem.Web.Models.Ticket.DisplayTicketViewModel>

@{
    ViewData["Title"] = "Ticket List";
}

<h1>Tickets</h1>

<div class="d-flex justify-content-between my-3">
    <a asp-controller="Home" asp-action="LoginOnly" class="btn btn-secondary">Back</a>
    <a asp-action="Create" class="btn btn-success"> + New Ticket</a>
</div>
<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee) 
            </td>
            <td>
                    @if(item.CurrentStatus == "Open")
                    {
                        <span class="badge bg-primary-subtle">@item.CurrentStatus</span>
                    }
                    else if(item.CurrentStatus == "Close")
                    {
                        <span class="badge bg-success">@item.CurrentStatus</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">@item.CurrentStatus</span>
                    }
                </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Details</a>
                    @if (item.CanChange)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Delete</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
